/build/
Builds
.DS_Store
build.output
*.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcodeproj/xcuserdata/*
pkg/
*.xcodeproj/**
!*.xcodeproj/*.pbxproj

*.xcworkspace/**
!*.xcworkspace/*.xcworkspacedata

Pods
Podfile.lock
.idea
